[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100
force_single_line = true

[tool.pylint.messages_control]
disable = [
  "missing-docstring",
]
good-names = ["i", "j", "k", "f", "ex", "df", "db"]
